@charset "UTF-8";
/*Общие стили */
.container-fluid, .row, .col, .col-12, .col-md-6, .col-md-4, .col-md-8, .col-md-5, .col-md-7 {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

input {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important; }

/*colors */
/*Высота шапки сайта */
/*Высота шапки страницы */
/*Шапка сайта */
header.header-on-site {
  z-index: 3;
  position: fixed;
  font-size: 16px;
  font-weight: bold;
  color: #pa003333;
  padding-left: 150px !important; }
  header.header-on-site div.row div.header-on-site_left-box div.row div.img_box img {
    height: 50px; }
  header.header-on-site div.row div.header-on-site_left-box div.row div.text-abaut-logo_box {
    height: 50px;
    border-left: 2px solid green; }
    header.header-on-site div.row div.header-on-site_left-box div.row div.text-abaut-logo_box p.text-about-logo {
      line-height: 50px; }
  header.header-on-site div.row div.header-on-site_right-box div {
    display: inline;
    height: 50px; }
    header.header-on-site div.row div.header-on-site_right-box div p {
      line-height: 50px; }

/*Конец шапки сайта */
/*Шапка страницы */
div.header-on-page {
  position: relative; }
  div.header-on-page div.headline-page {
    z-index: 2;
    position: absolute; }
    div.header-on-page div.headline-page div.row {
      height: 70vh; }
      div.header-on-page div.headline-page div.row div.col {
        display: block;
        text-align: center; }
  div.header-on-page div.fifty-fifty {
    z-index: 1; }
    div.header-on-page div.fifty-fifty div.col {
      height: 70vh; }
    div.header-on-page div.fifty-fifty div.f-f_left-box {
      background: #169416; }
    div.header-on-page div.fifty-fifty div.f-f_right-box div div div {
      width: 50vw; }
      div.header-on-page div.fifty-fifty div.f-f_right-box div div div img {
        height: 70vh !important;
        -o-object-fit: cover;
           object-fit: cover; }

/*Конец шапки страницы */
/*Кнопки бистрой навигации */
div.speed-navigation div.row div.speed_but-nav {
  position: relative;
  overflow: hidden;
  max-height: 40vh; }
  div.speed-navigation div.row div.speed_but-nav div a img {
    max-height: 60vh;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
  div.speed-navigation div.row div.speed_but-nav div a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  div.speed-navigation div.row div.speed_but-nav p {
    opacity: 1;
    position: absolute;
    right: 40px;
    bottom: 10px;
    color: #ffffff;
    font-weight: bolder;
    -webkit-transition: all 2s;
    transition: all 2s; }
div.speed-navigation div.row div.speed_but-nav:hover p {
  opacity: 0; }

/*Конец кнопок быстрой навигации */
/*Отзывы */
div.reviews h3 {
  text-align: center; }
div.reviews div.reviews_box div img {
  max-height: 100px;
  float: left;
  margin-right: 5px; }

/*Конец отзывов */
/*Форма обратной связи */
div.feedback_box div.row div.form_box {
  background: #6aa847; }
  div.feedback_box div.row div.form_box form.form-inline div.row div label {
    display: inline-block;
    text-align: left !important; }

/*Конец формы обратной связи */
/*Подвал */
footer.footer {
  background: #cdcdcd;
  height: 10vh;
  margin-top: 20px;
  padding-left: 110px; }
  footer.footer p {
    line-height: 10vh; }

/*Конец подвала */

/*# sourceMappingURL=main.css.map */