/*Общие стили*/
.container-fluid, .row, .col, .col-12, .col-md-6, .col-md-4, .col-md-8, .col-md-5, .col-md-7
    padding: 0
    margin: 0
p
    margin: 0
input
    outline: none !important
    box-shadow: none !important
    border: none !important
/*colors*/
$green-main: #10413f

/*Высота шапки сайта*/
$h-header-site: 50px
/*Высота шапки страницы*/
$h-header-page: 70vh