@import "resources"
/*Шапка сайта*/
header.header-on-site
    position: fixed
    font-size: 16px
    font-weight: bold
    color: #003333
    div.row
        div.header-on-site_left-box
            div.row
                div.img_box
                    img
                        height: $h-header-site
                div.text-abaut-logo_box
                    height: $h-header-site
                    border-left: 2px solid green
                    p.text-about-logo
                        line-height: $h-header-site
        div.header-on-site_right-box
            div
                display: inline
                height: $h-header-site
                p
                    line-height: $h-header-site
/*Конец шапки сайта*/
/*Шапка страницы*/
div.header-on-page
    position: relative
    div.headline-page
        position: absolute
        div.row
            height: 50vh
            div.col
                display: block
                text-align: center
    div.fifty-fifty
        div.col
            height: 50vh
/*Конец шапки страницы*/